/* Basic styling for siteplan.html */

body {
    font-family: 'Literata', serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.5em;
    color: #7598C7;
    text-align: center;
    margin-bottom: 20px;
    
}

h2 {
    font-family: 'Literata', serif;
    font-size: 1.5em;
    color: #000000;
    margin-bottom: 15px;

}

nav {
    background-color: #7598C7;
    padding: 10px;
    text-align: center;
    align-items: center;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
