* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

nav a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
    padding: 0 20px; 
}

.content{
    display: grid;
    grid-template-columns: 3fr 1fr;

}

body{
    background-color: rgb(92, 90, 90);
    margin: 0;
}

.top-header{
    color: white;
    background-color: rgb(92, 90, 90);
}

main{
    background-color: gray;
}

aside{
    background-color: white;
}

footer{
    color: white;
    background-color: rgb(92, 90, 90);
}
