/* mobile first */
header {
    display: flex;
    /* Alinha os itens (button e nav) no centro horizontal */
    justify-content: center;
    /* Centraliza os itens verticalmente (opcional, mas recomendado para cabeçalhos) */
    align-items: center;
    /* Define a largura total, se necessário */
    width: 100%;
    margin: 0;
}

.navigation {
    /* Remove a formatação padrão da lista */
    list-style: none;
    padding: 0;
    margin: 0;

    /* Torna a lista horizontal */
    display: flex;

    /* Centraliza os itens <li> horizontalmente dentro da <ul> */
    justify-content: center;
    background-color: gray; 
}

/* Opcional: Estilização dos itens e links */
.navigation li a {
    /* Garante que o link ocupe todo o <li> e permita padding */
    display: block;
    /* Adicione espaçamento para afastar os links */
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    margin: 0;
}


/* larger screen */
@media (min-width: 37.5em){

    main{
        background-color: white;
    }

}